<!DOCTYPE html>
<meta charset="utf-8">
<%= include_gon %>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<script>
$(function() {

});
</script>

<input type="hidden" id="refreshed" value="no">
    <style>
    td.view_kata {
      background: url('<%= image_url('icons/icon_component.gif') %>') no-repeat center center;
      cursor: pointer;
    }
    td.mark_kata {
      background: url('<%= image_url('icons/pencil.png') %>') no-repeat center center;
      cursor: pointer;
    }
    td.comparison {
      background: url('<%= image_url('icons/copy.gif') %>') no-repeat center center;
      cursor: pointer;
    }
    td.compile_count {
      text-align: center;
    }
    td.markup_length {
      text-align: center;
    }
    .ui-button{
      height:20px;
    }
    .ui-button-text{
      font-size: 10px;
    }
    </style>

    <h2>Markup Completed Katas</h3>
    <table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
     <tr>
    <th>Display<br>Kata</th>
    <th>Database<br>ID</th>
    <th>CyberDojo<br>ID</th>
    <th>Avatar</th>
    <th>Kata<br>Name</th>
    <th>Potential<br>Complete</th>
    <th>is<br>Complete?</th>
        <th>Mark Kata</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
    <th>Display<br>Kata</th>
    <th>Database<br>ID</th>
    <th>CyberDojo<br>ID</th>
    <th>Avatar</th>
    <th>Kata<br>Name</th>
    <th>Potential<br>Complete</th>
    <th>is<br>Complete?</th>
    <th>Mark Kata</th>
    </tr>
    </tfoot>

    </table>

<script>
$(document).ready(function() {
  table = $('#myTable').DataTable({
    "data": gon.allSessions,
    "columns": [{
      "className": 'view_kata',
      "orderable": false,
      "data": null,
      "defaultContent": '',
      "width": '20px'
    },  {
      "className": 'id',
      "data": 'id',
      "width": '20px'
    },  {
      "className": 'cyberdojo_id',
      "data": 'cyberdojo_id',
      "width": '50px'
    },{
      "className": 'avatar',
      "data": 'avatar',
      "width": '30px'
    }, {
      "className": 'kata_name',
      "data": 'kata_name',
      "width": '40px'

    },{
      "className": 'potential_complete',
      "data": 'potential_complete',
      "width": '40px'

    },{
      "className": 'is_complete',
      "data": 'is_complete',
      "width": '40px'

    },{
      "className": 'mark_kata',
      "orderable": false,
      "data": null,
      "defaultContent": '',
      "width": '20px'
    }]
  });
});


// Add event listener for opening and closing details
$('#myTable').on('click', 'td.view_kata', function() {
  var cyberdojo_id = $(this).parent().find(".cyberdojo_id").html();
  var avatar = $(this).parent().find(".avatar").html();
  var kata_name = $(this).parent().find(".kata_name").html();
  var newLocation = "timelineWithBrush?id=" + cyberdojo_id + "&avatar=" + avatar + "&kataName=" + kata_name;

  window.open(newLocation);
});

$('#myTable').on('click', 'td.mark_kata', function() {
  console.log("Mark Kata:");
  console.log($(this).parent());
  var id = $(this).parent().find(".id").html();
  var kata_name = $(this).parent().find(".kata_name").html();
  var newLocation = "mark_kata?id=" + id + "&kata=" + kata_name;
  window.open(newLocation);
});

</script>
