<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
$(function() {
  $('button').on('click', function() {
        window.location.href = '/markup/' + $("#researcher_id option:selected").text();
  });
});
</script>
<center>
<div>
<%= select_tag 'researcher_id', options_for_select(@researchers.map{|researcher| ["#{researcher.name}", researcher.id] })   %>
<button>Submit</button>
</div>
</center>