<!DOCTYPE html>
<meta charset="utf-8">
<%= include_gon %>

<style>

body {
    position: fixed;
    width:100%;
}

#username{
float:right;
padding-top: 2px;
padding-right: 4px;
}

.chart {
  background-color: #efefef;
}
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 11px sans-serif;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#PulseAreaDetail{
width:100px;
height:100px;

}

#instructions{
color: gray;
font-family: sans-serif;
}

#accordion{
  overflow: scroll;
  width:100%;
}

.entireDiffArea{
padding-top:10px;
padding-right:14px;
margin-top: 10px;

}

.diffTitle{
  border: 2px solid #ddd;
/*background: white url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;*/
font-weight: normal;
color: #212121;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
display: block;
cursor: pointer;
position: relative;
margin: 2px 0px 0px 0px;
padding: .3em .3em 0em .3em;
min-height: 0;
/* support: IE7; */
font-size: 100%;
font-weight: bold;
float:left;
margin-bottom: -1px;
width:99%;
}

.diffArea{
  border: 2px solid #ddd;

font-weight: normal;
color: #212121;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
display: block;
cursor: pointer;
position: relative;
margin: -1px 0 0 0;
padding: .3em .3em .1em .3em;
min-height: 0;

font-size: 100%;
font-weight: bold;
float:left;
margin-bottom: 5px;
width:99%;
/*height: auto;*/
/*overflow: scroll;*/
}

.CodeMirror{
  width:100%;
  /*background: white url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;*/
   border: 2px solid #888888;
   border-top-right-radius: 4px;
border-top-left-radius: 4px;
/*display: inline;*/
  border: 1px solid #eee;
  height: 400px;

}

.nextKata{
  width: 20%;
}
</style>

<div id="header">
<h3>
Is Kata Complete?<br>

<input type="radio" name="markup" value="Yes" id="complete_yes">Yes</input>
<input type="radio" name="markup" value="No" id="complete_no">No</input>

 
</h3>

<body>

<div id="accordion">
</div>

<script>

id = "<%= params[:id] %>";

if(gon.is_complete){
$('#complete_yes').attr('checked', 'checked');
}else{
  $('#complete_no').attr('checked', 'checked');
}




$('input:radio[name="markup"]').change(
    function(){
    console.log("ChangE");

  //Update data on server
  markupJSON = {
    id: id,
    complete: this.value
  };

  $.ajax({
    url: 'update_completion',
    type: 'post',
    data: markupJSON,
    dataType: 'JSON'
  });


    });

function populateAccordion(data) {

var commonFiles = data;
  var uniqueStart = [];
  var uniqueEnd = [];
  
  $('#accordion').html("");

  jQuery.each(data, function(i, val) {
    addTitleAndDiffCode(val, val, i);
  });

  $("#accordion").height($(window).height());
}

function markCollapse(e) {
  // console.log("COLLAPSE");
  $("#" +e.currentTarget.id + "_container").css("display", "none");
  $("#" + e.currentTarget.id).click(markExpand);

}

function markExpand(e) {
  // console.log("EXPAND");
  $("#" +e.currentTarget.id + "_container").css("display", "inline");
  $("#" + e.currentTarget.id).click(markCollapse);
}

function addTitleAndDiffCode(str1, str2, element) {

  var safeName = element.replace('.', '');

  var newDiv = "<div class='entireDiffArea'><div class='diffTitle' id='" + safeName + "'>" + element + "<\/div><div class='diffArea'><div id='" + safeName + "_container' class='CodeMirror'><div id='" + safeName + "_code'></div></div></div></div></div></div>";
  $('#accordion').append(newDiv);


var myCodeMirror = CodeMirror(function(elt) {
  document.getElementById(safeName + "_code").parentNode.replaceChild(elt, document.getElementById(safeName + "_code"));
}, {value: str1,lineNumbers: true});

if(element.indexOf("test") > -1){
     $("#" + safeName).click(markCollapse);
}else{
   $("#" + safeName + "_container").css("display", "none");
    $("#" + safeName + "_container").addClass("collapsed");
    $("#" + safeName).click(markExpand);
}
  $('#' + safeName).html(element);
}

populateAccordion(gon.allFiles);

</script>
