<h1>CycleCatagorizer#cycle_catgories</h1>

<h5>Number of CSV Rows:
<%= @CSVRows.count %>
</h5>


filename:
<%= @filename %>
<BR><BR>

<td><%= @CSVRows[0][:kataid] %></td></br>

<BR><BR><BR>


<% @CSVRows.each do |key, array| %>
    <tr>
      <td><%= key %></td></br>
     
       <BR>
    </tr>
  <% end %>